body {
  font-family: 'Nunito', Arial, sans-serif;
  background-color: #f6f6f6;
  color: #333;
}

h2 {
  color: #333;

  &:after {
    content: '';
    background-color: $light-green;
    position: absolute;
    width: 100vw;
    height: 25px;
    bottom: -5px;
    z-index: -1;
    left: -40%
  }
}
