.product-card {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.25);

  .card-title {
    font-size: 1.5rem;
  }

  .card-body {
    padding: 0;
  }

  .list-group-item {
   position: relative;
  }

  .nb-products, .btn-remove-product, .btn-add-product {
    @include round-button;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    bottom: -20px;
    z-index: 100;
  }

  .nb-products {
    background-color: $yellow;
    left: calc(50% - 20px)
  }

  .btn-add-product, .btn-remove-product {
    background-color: $medium-green;
    color: white;
    transition: .3s;

    &:hover {
      background-color: $dark-green;
    }
  }

  .btn-add-product {
    left: -20px;
  }

  .btn-remove-product {
    right: -20px;
  }

  .product-infos {
    text-align: center;

  }
}
