.bag_quantity {
  @include round-button;
  height: 40px;
  width: 40px;
  background-color: $yellow;
}

.subtitle {
  padding-left: 20px;
  &:after {
    background-color: $yellow;
    bottom: -7px;
  }
}

.big_basket {
  background-color: $dark-green;
  color: #fff;

}

.small_basket {
  background-color: $light-green;
  color: #fff;
}

.button {
  @include round-button;
}

.bag_price {
  border : none;
  width: fit-content;
}

.navbar-green {
  background-color : $light-green;
  color: #fff;
}

.green_btn {
  background-color: $light-green;
  border: 1px solid $light-green;
}