.subtitle {
  background-color: $yellow;
  margin: 20px;
  line-height: 15px;
}

.fas {
  vertical-align: -webkit-baseline-middle;
  font-size: xx-large;
  margin-left: 5px;
}

.nav-item {
  cursor: pointer;
}

.modal-dialog {
  max-width: 600px;
}

.container-fluid-admin{
  .h1 {
    text-align: center !important;
  }
}
